<h3 class="ui header">Feedback</h3>

<div class="ui segment container">
  <h2>Score :  {{score}}</h2>
  <h2>COVID-19 : {{result}}</h2>
</div>

<div class="ui section divider"></div>


<h3 class="ui header">Advice</h3>

<div class="ui segment container">
  <p>
    {{getAdvice()}}
  </p>
</div>


<div class="ui button" (click)="post()" *ngIf="btn" >
  Save
</div>

<div class="ui section divider"></div>


<h3 *ngIf="score >5" class="ui header">Emergency Numbers</h3>

<div *ngIf="score >5" class="ui segment compact">


  <div class="ui list">
    <div class="item" *ngFor="let phone of phones">
      <h4>{{phone}}</h4>
    </div>
  </div>

</div>
